<!-- two way binding -->
<header>
    <app-common-navbar [publisherNav]=false [customerNav]=false [adminNav]=false></app-common-navbar>
 </header>
 
 <div class="container-fluid back">
     <div class="row">
       <div class="col-md-4 offset-md-4">
         <div class="card mt-5">
           <div class="card-body">
                <form #registerform="ngForm" (ngSubmit)="publisherRegister()">
                    <h2 class="text-center mb-5"><b>Register</b></h2>
                    <div class="mb-4">
                        <input type="text" name="pubName" class="form-control" placeholder="Publisher Name"
                            [(ngModel)]="publisher.pName" required #pubname="ngModel"
                            [class.is-invalid]="pubname.invalid && pubname.touched" />
                        <div *ngIf="pubname.invalid && pubname.touched">
                            <small class="text-danger" *ngIf="pubname.errors?.['required']">This field is required</small>
                        </div>
                    </div>
                    <div class="mb-4">
                        <input type="email" name="pubEmail" class="form-control" placeholder="Publisher Email"
                            [(ngModel)]="publisher.email" required #pubemail="ngModel"
                            [class.is-invalid]="pubemail.invalid && pubemail.touched" />
                        <div *ngIf="pubemail.invalid && pubemail.touched">
                            <small class="text-danger" *ngIf="pubemail.errors?.['required']">This field is required</small>
                            <small class="text-danger" *ngIf="pubemail.errors?.['email']">Please enter a valid email</small>
                        </div>
                    </div>
                    <div class="mb-4">
                        <input type="password" name="pubPassword" class="form-control" placeholder="Publisher Password"
                            [(ngModel)]="publisher.password" required #pubpassword="ngModel"
                            [class.is-invalid]="pubpassword.invalid && pubpassword.touched" />
                        <div *ngIf="pubpassword.invalid && pubpassword.touched">
                            <small class="text-danger" *ngIf="pubpassword.errors?.['required']">This field is required</small>
                        </div>
                    </div>
                    <div class="mb-4">
                        <input type="text" name="pubCountry" class="form-control" placeholder="Publisher Country"
                            [(ngModel)]="publisher.pCountry" required #pubcountry="ngModel"
                            [class.is-invalid]="pubcountry.invalid && pubcountry.touched" />
                        <div *ngIf="pubcountry.invalid && pubcountry.touched">
                            <small class="text-danger" *ngIf="pubcountry.errors?.['required']">This field is required</small>
                        </div>
                    </div>
                    <button [disabled]="registerform.form.invalid" type="submit" class="btn btn-primary btn-block">Publisher Register</button>
                </form>
            </div>
        </div>
        </div>
        </div>
        </div>
        
<app-footer></app-footer>
