<header>
    <app-common-navbar [publisherNav]=true [customerNav]=false [adminNav]=false></app-common-navbar>
 </header>
<div class="container mt-5 mb-5">
    <h2 class="mb-4">Manage Published Books</h2>
    <div class="card">
        <div class="card-header">
            Published Books
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                 <tr>
                        <th scope="col">Book ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Img Path</th>
                        <th scope="col">Modify</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of bookList | paginate : {itemsPerPage : count,currentPage : p}">
                        <td><input type="text" class="form-control" [(ngModel)]="book.bId" [readonly]="true"></td>
                        <td><input type="text" class="form-control" [(ngModel)]="book.bTitle"></td>
                        <td><textarea class="form-control" [(ngModel)]="book.bDesc" rows="3" cols="30"></textarea></td>
                        <td>
                            <select class="form-control" [(ngModel)]="book.bCategory">
                                <option value="{{book.bCategory}}" disabled selected>{{book.bCategory}}</option>
                                <option value="fiction">Fiction</option>
                                <option value="non-fiction">Non-Fiction</option>
                                <option value="childrens">Childrens</option>
                                <option value="science">Educational</option>
                                <option value="music">Music</option>
                                <option value="manga">Manga</option>
                                <!-- Add more options as needed -->
                            </select>
                        </td>
                        
                            
                        <td><input type="text" class="form-control" [(ngModel)]="book.bStatus" readonly></td>
                       
                        <td><input type="number" class="form-control" [(ngModel)]="book.bPrice"></td>
                        <td><input type="number" class="form-control" [(ngModel)]="book.bQuantity"></td>
                        <td><input type="text" class="form-control" [(ngModel)]="book.bImgPath"></td>
                        <td><button (click)="modifyBook(book,book.bId)" class="btn btn-primary btn-sm">Modify</button></td>
                        <td><button (click)="deleteBook(book.bId)" class="btn btn-danger btn-sm">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-right">
            <pagination-controls (pageChange)="p=$event"></pagination-controls>
          </div>
    </div>
</div>
<app-footer></app-footer>