
<footer class="footer mt-auto py-3 text-white">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-4">
                <h3>BOOKS</h3>
                <ul class="list-unstyled">
                    <li><a routerLink="/aboutPage">About Us</a></li>
                    <li><a routerLink="/contactPage">Contact Us</a></li>
                    <li><a href="javascript:void(0)">Blog</a></li>
                </ul>
            </div> -->
            <!-- <div class="col-md-4">
                <h3>Policies</h3>
                <ul class="list-unstyled">
                    <li><a href="javascript:void(0)">Privacy Policies</a></li>
                    <li><a href="javascript:void(0)">Terms of Use</a></li>
                    <li><a href="javascript:void(0)">Secure Shopping</a></li>
                    <li><a href="javascript:void(0)">Copyright Policy</a></li>
                </ul>
            </div> -->
            <!-- <div class="col-md-4">
                <h3>Help</h3>
                <ul class="list-unstyled">
                    <li><a href="javascript:void(0)">Payment</a></li>
                    <li><a href="javascript:void(0)">Shipping</a></li>
                    <li><a href="javascript:void(0)">Return</a></li>
                    <li><a href="javascript:void(0)">FAQ</a></li>
                </ul>
            </div> -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <a href="https://www.instagram.com/yourusername" target="_blank" class="mr-3"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/yourusername" target="_blank" class="mr-3"><i class="fab fa-facebook"></i></a>
                    <a href="https://github.com/yourusername" target="_blank" class="mr-3"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/yourusername" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
                <!-- <hr class="bg-white"> -->
                <div class="text-center">
                    <p>&copy; 2023 BooksHaven. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
